.crystal-image {
  width: 200px;
  height: 200px;
}


body {

  background: url("../images/bricks.jpeg");
  
}  

@media only screen and (max-width: 800px) { 
  .crystal-image {
    width: 140px;
    height: auto;
  }
}

@media only screen and (max-width: 375px) { 
  .crystal-image {
    width: 80px;
    height: auto;
  }
}